<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
{{#if user}}
    <div class="bg-info">
        {{{user.username}}}
            <br>
        {{{user.name}}}
            <br>
        {{{user.email}}}
    </div>
{{/if}}